:root  {
  --main-font-color: #2c3e50;
  --main-font-color-highlight: #efefef;
  --subtext-font-color: #929292;
  --subtext-font-color-highlight: #eee;
  --background-color: white;
  --background-color-highlight: #0452de;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"] {
  --main-font-color: #a8a8a8;
  --main-font-color-highlight: black;
  --subtext-font-color: #929292;
  --subtext-font-color-highlight: black;
  --background-color: #202124;
  --background-color-highlight: #901212;
}